<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <title>500</title>
</head>
<body>
    <div class="container" style="max-width: 600 px; margin-top: 50px;">
        <div class="jumbotron">
            <h2>500</h2>
            <p>Server Error</p>
        </div>

    </div>
</body>
</html>